<div class="header">
    <h1> Welcome, <%=current_user.alias%> </h1>
    <a class="logout" href="/logout">Log out</a>
</div>
<br>
<br>
<div class="container">

  <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
        <div class="alert alert-warning" role="alert">
            <%= error %>
        </div>
        <% end %>
    <% end %>

    
    <form action="ideas/create" method="post">
        <div class="form-group ">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="text" name="post" class="form-control" value="Post something witty here...">
            </br>
            <input type="submit" class="btn btn-primary" name="Idea!" value="submit">
        </div>
    </form>
    <br>
    <br>
    <div class="ideas">
        <% @ideas.each do |idea|%>
        </br>
        <p><strong> <a href="users/<%=idea.user.id%>"><%=idea.user.alias%> </a>says:</strong></p>
        <blockquote class="blockquote">
            <p class="mb-0">"<%=idea.post%>"</p>
            <a href="bright_ideas/<%=idea.id%>/like" data-method="patch"> Like</a>
            <footer class="blockquote-footer"><p><a href="bright_ideas/<%=idea.id%>"><%=idea.likes.count%> people</a> liked this</p></footer>
        </blockquote>
        <% if current_user == idea.user %>
        <form action = "bright_ideas/<%=idea.id%>/delete" method = "post">
            <div class="form-group ">
                <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
                <input type = 'hidden' name = "_method" value = "delete">
                <input type = "submit" class="btn btn-warning" value = "Delete Idea" >
            <div>
        </form>
        
        <% end %>
    <% end %>
    <div>
</div>