<div class"header">
<a href="/bright_ideas">Bright Ideas</a>
<a href="/logout">Log out</a>
</div>

<p> <a href="bright_ideas/<%=@idea.user.id%>"><%=@idea.user.alias%> </a>says:</p>
<p> <%=@idea.post%>
<br>
<br>
<p>People who liked this post:</p>
<table>
    <tr>
        <th>Alias</th>
        <th>Name</th>
    </tr>
    <tr>
        <% @idea.user_liked.uniq.each do |i|%>
        <th><a href="/users/<%=i.id%>"><%=i.alias%></a></th>
        <th><%=i.name%></th>
    </tr>
        <% end %>
</table>