<div class="header">
    <a class="brightHead head1" href="/bright_ideas">Got Ideas?</a>
    <a class="brightHead head2" href="/logout">Log out</a>
</div>

<div class="container">
    <div class="card">
        <h3 class="cart-title"> <a href="/users/<%=@idea.user.id%>"><%=@idea.user.alias%> </a>says:</h3>
        <h4 class="card-text">"<%=@idea.post%>"</h4>
    </div>
    <br>
    <h4>People who liked this post:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% @idea.user_liked.uniq.each do |i|%>
                <th><a href="/users/<%=i.id%>"><%=i.alias%></a></th>
                <th><%=i.name%></th>
            </tr>
                <% end %>
        </tbody>
    </table>
</div>