<div class="header">
    <a class="brightHead head1" href="/bright_ideas">Bright Ideas</a>
    <a class="brightHead head2" href="/logout">Log out</a>
</div>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h3>Name: <%=@user.name%></h3>
        <h3>Alias: <%=@user.alias%></h3>
        <h3>Email: <%=@user.email%></h3>
        <hr class="my-4">
        <p>Total number of posts: <%= @user.ideas.count %> </p>
        <p>Total number of likes: <%= @user.likes.count %> </p>
    </div>
</div>     

